.env
.DS_Store
query_testing.py
__pycache__/
old/
extras/.DS_Store
helpers/__pycache__/
data/remove_unnamed.py
data/burn_unit_distr.py
data/compare_contrast.py
data/analysis/
training_data_collection/txts/
training_data_collection/csvs/
training_data_collection/old_csvs/
training_data_collection/old_txts/
training_data_collection/new_csvs/
training_data_collection/new_txts/
training_data_collection/bp3d_csvs/
training_data_collection/random_csvs/
training_data_collection/tester.py
training_data_collection/get_data.py
training_data_collection/get_run_uuids.py
training_data_collection/investigate_row_drops.py
training_data_collection/helpers_training_data_collection/old/csv_files/
general_td_collection/csvs
