.env
.DS_Store
__pycache__/
extras/.DS_Store
helpers/__pycache__/
training_data_handling/.ipynb_checkpoints
training_data_handling/__pycache__/
training_data_handling/.DS_Store
training_data_handling/find_ensembles.py
training_data_handling/add_ids_col.py
training_data_handling/investigate.py
training_data_handling/fix_cpu_request.py
training_data_handling/collect_runs/.ipynb_checkpoints/
training_data_handling/csv_files/queried_w_ids.csv
training_data_handling/csv_files/queried.csv
training_data_handling/csv_files/ratios_added.csv
training_data_handling/csv_files/testing_summed.csv
training_data_handling/csv_files/all_metrics_ratios_added.csv
training_data_handling/csv_files/negative_all_metrics.csv
training_data_handling/csv_files/nonnegative_all_metrics.csv
training_data_handling/csv_files/nonzero_queried_all_metrics.csv
training_data_handling/csv_files/queried_all_metrics.csv
training_data_handling/csv_files/summed_all_metrics.csv
training_data_handling/csv_files/partial_summed_all_metrics.csv
training_data_handling/automate_training_data_collection/txts/
training_data_handling/automate_training_data_collection/csvs/

